<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avic.management.mappers.CommonMapper">
	
	<select id="queryIndex" resultType="java.lang.String">
		select to_char(sysdate,'yyyyMMddHH24miss') || replace(lpad(common_index.nextval,6,'0'),'','0') from dual
	</select>
</mapper>