@charset "utf-8";
/* CSS Document */
#header_login {
	padding-top: 1px;
	background: #fff;
	padding-bottom: 10px;
}
#header_login .logo {
	margin-top: 15px;
	float: left;
}
#header_login .logo h1 span {
	position: absolute;
	bottom: 20px;
	right: 40px;
	font-size: 16px;
}
#header_login .logo h1 {
	margin: 0;
	position: relative;
}
#header_login .login_area {
	float: right;
	padding-top: 60px;
	padding-right: 40px;
}
#header_login .login_area a {
	padding: 0 10px;
	border-right: 1px solid #ccc;
}
#contents .inner {
	width: 900px;
	margin: 0 auto;
	padding: 50px 0;
	min-height: 400px;
}



#step ul li {
	float: left;
	margin-bottom: 20px;
}
#step {
	text-align: center;
	margin-top: 10px;
	position: relative;
}
#step .line {
	border-bottom: 6px solid #e1e5ee;
    height: 1px;
    left: 140px;
    position: absolute;
    top: 20px;
    z-index: 0;
    width: 600px;
}
#step ul {
	display: inline-block;
	z-index: 9999;
	position: relative;
}
#step ul.image_list li {
	width: 200px;
	text-align: center;
}
#step ul.image_list li a {
	background: url(../img/management/bg_step_new.png) center top no-repeat;
	display: block;
}
#step ul.image_list li a span.text {
	display: block;
	font-size: 14px;
}
#step ul.image_list li a:hover span.text {
	color: #666;

}
#step ul.image_list li a span.num {
	font-size: 28px;
	color: #0089d1;
	margin-bottom: 10px;
	display: block;
}
#step ul.image_list li.selected a {
	background: url(../img/management/bg_step_on_new.png) center top no-repeat;
}
#step ul.image_list li.selected a span.text {
	color: #0089d1;
}
#step ul.image_list li.selected a span.num {
	color: #fff;
}
.input_area {
	width: 550px;
	margin: 0 auto;
	margin-top: 30px;
}
.input_area dl {
	margin-bottom: 30px;
}
.input_area dl.special dt {
	width: 70px;
	text-align: right;
}
.input_area dl.special dd {
	width: 350px;
}
.input_area dl dt {
	font-size: 14px;
	font-weight: 100;
	line-height: 28px;
	float: left;
}
.input_area dl dd {
	width: 450px;
	float: left;
	position: relative;
	font-size: 14px;
}
.red {
	color: #ff4200;
}
.input_area dl dd span.remind {
	position: absolute;
	bottom: -20px;
	left: 0;
	font-size: 12px;
}
.input_area dl dd input.code {
	width: 180px;
	display: inline-block;
}
.input_area button {
	text-align: center;
	height: 34px;
}
.input_area p {
	font-size: 14px;
}
p.success span.img  {
	margin-right: 10px;

}
.success_area {
	text-align: center;
	
}
.success_area p.success {
	font-size: 16px;
}
.input_area button.success {
	text-align: center;
	display: inline-block;
}
button.gray {
	border: #dfdfdf 1px solid;
	background: #fff;
}